.box {
  /* height: 400px; */
  width: 220px;
  /* background-color: #2f2f2f; */
  padding: 5px;
  position: relative;
  overflow: hidden;
  /* border-radius: 10px; */
}

.in {
  height: 100%;
  width: 100%;
  background-color: #050414;
  /* padding: 8px; */
  z-index: 99;
  position: relative;
  border:   1px dashed rgba(255, 255, 255, 0.3);
}


.box::after, .box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(75deg);
  height: 300px;
  width: 40px;
  background-color: #a85af7;
  animation: bordermove 3s infinite ease;
}

@keyframes bordermove {
  100% {
    transform: translate(-50%, -50%) rotate(255deg);
  }
}